:root {
	--title-color: #d55;
	--bg-color: #cdc;

	--main-text-color: #055;

	--task-bg-color: #fff;
	--task-border-color: #1bf;
	--task-text-color: #000;
	--task-border-size: 2px;
	--task-border-radius: 1em;

	--priority-color-1: #f45;
	--priority-color-2: #dd4;
	--priority-color-3: #24f;

	--state-color-inactive: #122;
	--state-color-sleep: #335;
}

@font-face {
	font-family: "NationalPark";
	src: url("./assets/NationalPark.woff2") format("woff2");
}

@font-face {
	font-family: "Nunito";
	src: url("./assets/NunitoSans.woff2") format("woff2");
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "NationalPark", sans-serif;
	font-size: calc(0.75em + 0.75vh);
	background-color: var(--bg-color);
	color: var(--main-text-color);
	margin: 1em;
}

.base-container {
	/* outline: red 1px solid; */
}

.main-title-container {
	/* outline: 1px solid red; */
	font-family: "Nunito", sans-serif;
	text-align: center;
	color: var(--title-color);
}

.projects-container {
	/* outline: 1px solid #38d; */
	
	padding: 0.5em;
	margin: 1em 0 1em 0;
}

.project-header {
	font-size: 0.9em;
	display: flex;
	margin: 0 1em 0 1em;
	/* background-color: var(--task-border-color); */
	/* color: var(--bg-color); */
}

.project-header .project-name {
	font-weight: bold;
}

.project-header-button {
	text-align: center;
	width: 2rem;
}

.project .add-task {
	margin-left: auto;
}

.project .sort,.add-task {
	outline: 1px solid red;
	align-content: end;
}

.tasks-container .task:first-child {
	margin-top: 1em;
}

.task {
	display: flex;
	/* flex-direction: row; */
	margin: 0.5rem 0;
}

.task-status-icon {
	outline: 1px solid red;
	height: 100%;
	width: 2em;
}

.task-text {
	font-family: "Nunito", sans-serif;
	font-size: 0.9rem;
	background-color: var(--task-bg-color);
	color: var(--task-text-color);
	border: var(--task-border-size) solid var(--task-border-color);
	border-radius: var(--task-border-radius);
	padding: 0.5rem;
}

.task-text .task-due-date {
	font-size: 0.7rem;
}


